<style>
  #result { width: 600px; height: 50px; display: flex; justify-content: center; align-items: center; color: white;
  font-size: 18px; } .green { background-color: green; } .red { background-color: red; }
</style>
<script>
  document.addEventListener('DOMContentLoaded', () => { const resultDiv = document.getElementById('result'); try { const
  supportsJoinAdInterestGroup = 'joinAdInterestGroup' in navigator; const featurePolicyAllowsJoinGroup =
  document.featurePolicy.allowsFeature('join-ad-interest-group'); const featurePolicyAllowsRunAuction =
  document.featurePolicy.allowsFeature('run-ad-auction'); if (supportsJoinAdInterestGroup &&
  featurePolicyAllowsJoinGroup && featurePolicyAllowsRunAuction) { resultDiv.classList.add('green'); resultDiv.innerText
  = 'navigator.joinAdInterestGroup() is supported on this page'; } else { resultDiv.classList.add('red');
  resultDiv.innerText = 'navigator.joinAdInterestGroup() is not supported on this page'; } } catch (error) {
  resultDiv.classList.add('red'); resultDiv.innerText = 'navigator.joinAdInterestGroup() is not supported on this page';
  } });
</script>
<div class='demo-explainer'>
  <h1>Protected Audience API Demo (PAAPI)</h1>
  <div id='result'></div>
  <h3>Setup</h3>
  <li>
    Execute Chrome from the command line and set the flag
    <code>--enable-privacy-sandbox-ads-apis --disable-features=EnforcePrivacySandboxAttestations,FledgeEnforceKAnonymity</code>
  </li>
  <h3>Instructions</h3>
  <ol>
    <li>
      Visit the
      <a href='{{{advertiserUrl}}}' target='_blank'>advertiser page</a>
      which will add your browser to an interest group.
    </li>
    <li>
      Visit the
      <a href='{{{publisherUrl}}}' target='_blank'>publisher page</a>
      to see the ad rendered in a fenced frame.</li>
    <li>
      Visit the
      <a href='{{{dspUrl}}}' target='_blank'>DSP page</a>
      via nginx reverse proxy from 8087 to 4437.</li>
    <li>
      Visit the
      <a href='{{{sspUrl}}}' target='_blank'>SSP page</a>
      via nginx reverse proxy from 8088 to 4438.</li>
  </ol>
</div>